body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  height: 3rem;

}

.footer>.footer-text {
  vertical-align: middle;
}

#root {
  margin-left: 1rem;
  margin-right: 1rem;
}

.card-img-top {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50% !important;
}

.card-body {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30rem;
}

.card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30rem;
}

.card-button {
  width: 150px;
  float: right;
  padding: 10px;
}

.card-header {
  font-size: x-large;
  text-align: center;
}

.card-text {
  font-size: smaller;
}

.table-user {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.td-align-middle {
text-align: center;
}

.badge-width {
  width: 115px;
}