body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.padding-container {
  padding-bottom: 2.5rem; 
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  height: 3rem;

}

.footer>.footer-text {
  vertical-align: middle;
}

#root {
  margin-left: 1rem;
  margin-right: 1rem;
  position: relative;
  min-height: 100vh;
}


.card-img-top {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50% !important;
}

.card-body {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30rem;
}

.card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30rem;
  margin-top: 20px;
}

.card-button {
  width: 150px;
  float: right;
  padding: 10px;
}

.card-header {
  font-size: x-large;
  text-align: center;
}

.card-text {
  font-size: smaller;
}

.table-user {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: revert !important;
}

.table-button {
  width: 5rem;
}

.td-align-middle {
  text-align: center;
}

.badge-width {
  width: 117px;
}

.form-addbook {
  margin-left: auto;
  margin-right: auto;
  width: 40rem;
  margin-top: 30px;
}

.form-button {
  float: inline-end;
  width: inherit;
  margin-top: 30px;
}

.form-checkbox {
  margin-top: 20px;
}

.addbook-header {
  margin-top: 20px;
}

.book-search-item-body {
  display: flex;
  gap: 0.5rem;
}

.book-search-item>.card>.card-body:hover {
  cursor: pointer;
  -webkit-box-shadow: 8px 5px 42px 0px rgba(145, 151, 159, 1);
  -moz-box-shadow: 8px 5px 42px 0px rgba(145, 151, 159, 1);
  box-shadow: 8px 5px 42px 0px rgba(145, 151, 159, 1);
}

.book-search-result {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: nowrap;
}

.book-search-input {
  margin: 20px 20px 20px 20px;
}

.book-search-item-authors {
  color: darkgray;
}

.modal-backdrop {
  background-color: rgba(0,0,0,.6) !important;
}